.twitter{
    background-color: #1DA1F2;
}
.whats{
    background-color: #25d366;
}
.facebook{
    background-color: #3b5998;
}
.insta{
    background-color: #833AB4;
}
.telegram{
    background-color: #0088cc;
}
.imgtwitter{
    width: 250px;
    height: 250px;
}
.img200{
    width: 200px;
    height: 200px;
}
.imgtele{
    width: 350px;
    height: 250px;
}